<div class="restaurant-detail-container">
  <div *ngIf="loading" style="padding: 20px; text-align: center;">
    Loading...
  </div>

  <div *ngIf="error && !loading" style="padding: 20px; text-align: center;">
    Error: {{ error }}
  </div>

  <mat-card class="restaurant-card" *ngIf="restaurant">
    <mat-card-header>
      <mat-card-title>{{ restaurant.name }}</mat-card-title>
      <mat-card-subtitle>{{ restaurant.categories.join(', ') }}</mat-card-subtitle>
      <mat-card-subtitle>
        <!-- Rating -->
        <div class="rating" *ngIf="restaurant.averageRating">
          <span class="stars">
            <mat-icon *ngFor="let star of getStars(restaurant.averageRating)" class="star filled">star</mat-icon>
            <mat-icon *ngFor="let star of getEmptyStars(restaurant.averageRating)" class="star empty">star_border</mat-icon>
          </span>
          <span class="rating-value">({{ restaurant.averageRating.toFixed(1) }})</span>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <div class="restaurant-info">
        <mat-icon class="restaurant-icon">restaurant</mat-icon>
        <h2>{{ restaurant.address.street }} {{ restaurant.address.houseNumber }}, {{ restaurant.address.postalCode }} {{ restaurant.address.city }}</h2>
        <div class="contact-info" *ngIf="restaurant.contactEmail || restaurant.contactPhone">
          <h3>Kontaktinformationen:</h3>
          <p *ngIf="restaurant.contactEmail">E-Mail: {{ restaurant.contactEmail }}</p>
          <p *ngIf="restaurant.contactPhone">Telefon: {{ restaurant.contactPhone }}</p>
        </div>
      </div>
      
      <div class="opening-hours" *ngIf="restaurant.openingHours?.length">
        <h3>Öffnungszeiten:</h3>
        <ul>
          <li *ngFor="let hours of restaurant.openingHours">{{ dayNames[hours.dayOfWeek] }}: {{ formatOpeningHours(hours) }}</li>
        </ul>
      </div>
    </mat-card-content>
    
    <mat-card-actions>
      <button mat-raised-button *ngIf="currentUser?.role === 'customer'" color="primary" [routerLink]="['/customer/menu', restaurantId]">
        Menü ansehen
      </button>
      <button mat-raised-button *ngIf="currentUser?.role === 'customer' || currentUser?.restaurantId === restaurantId" color="secondary" [routerLink]="['/restaurants-forum', restaurant.id]">
        Forum ansehen
      </button>
    </mat-card-actions>
    <mat-card-content class="review" *ngIf="currentUser?.role === 'customer'">
      
      <span class="stars">
        <button *ngFor="let number of [1, 2, 3, 4, 5]" (click)="setRating(number)">
          <mat-icon>{{ number <= reviewStars ? 'star' :  'star_border'}}</mat-icon>
        </button>
      </span>  
      <mat-form-field class="add-review">
        <mat-label>Rezension hinzufügen</mat-label>
        <textarea matInput *ngIf="currentUser?.role === 'customer'" maxlength="100" [(ngModel)]="reviewText"></textarea>
      </mat-form-field>
      <button class="save-review" mat-raised-button *ngIf="currentUser?.role === 'customer'" color="primary" [disabled]="!reviewText.trim() || reviewStars === 0" (click)="saveReview(reviewText, reviewStars)">
        Rezension speichern
      </button>
    </mat-card-content>
    
    <mat-card-content class="reviews">
      <div *ngIf="!loading && restaurantReviews.length > 0">
      <mat-card *ngFor="let review of restaurantReviews">
        <mat-card-header>
          <!-- <mat-card-subtitle>{{review.customerName}}</mat-card-subtitle> -->
          
          <mat-card-subtitle>
            <!-- Rating -->
            
            <div class="rating">
              <b>{{review.customerName}},</b> {{review.date}}
              <span class="stars" *ngIf="review.rating">
                <mat-icon *ngFor="let star of getStars(review.rating)" class="star filled">star</mat-icon>
                <mat-icon *ngFor="let star of getEmptyStars(review.rating)" class="star empty">star_border</mat-icon>
              </span>
            </div>
            <mat-divider></mat-divider>
          </mat-card-subtitle>
          
        </mat-card-header>
        
        <mat-card-content>
          
          {{review.comment}} 
          
        </mat-card-content>
        
      </mat-card>
      
    </div>
    </mat-card-content>
  </mat-card>
</div>
